[user]
	signingkey = {{ .signingkey }}
	email = {{ .email }}
	name = Jay McDoniel
[core]
	pager = git-split-diffs --color | less -RFX
	editor = {{ .editor }}
[pull]
	rebase = true
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[commit]
	gpgsign = true
