[Configuration]
FontName=FiraCode Nerd Font 12
MiscAlwaysShowTabs=FALSE
MiscBell=FALSE
MiscBellUrgent=FALSE
MiscBordersDefault=TRUE
MiscCursorBlinks=TRUE
MiscCursorShape=TERMINAL_CURSOR_SHAPE_IBEAM
MiscDefaultGeometry=82x24
MiscInheritGeometry=FALSE
MiscMenubarDefault=FALSE
MiscMouseAutohide=FALSE
MiscMouseWheelZoom=TRUE
MiscToolbarDefault=FALSE
MiscConfirmClose=TRUE
MiscCycleTabs=TRUE
MiscTabCloseButtons=TRUE
MiscTabCloseMiddleClick=TRUE
MiscTabPosition=GTK_POS_TOP
MiscHighlightUrls=TRUE
MiscMiddleClickOpensUri=FALSE
MiscCopyOnSelect=TRUE
MiscShowRelaunchDialog=TRUE
MiscRewrapOnResize=TRUE
MiscUseShiftArrowsToScroll=FALSE
MiscSlimTabs=TRUE
MiscNewTabAdjacent=FALSE
MiscSearchDialogOpacity=100
MiscShowUnsafePasteDialog=TRUE
BackgroundImageFile={{ .backgroundimage }}
TextBlinkMode=TERMINAL_TEXT_BLINK_MODE_FOCUSED
ShortcutsNoHelpkey=TRUE
BindingBackspace=TERMINAL_ERASE_BINDING_ASCII_DELETE
ColorCursor=#48097116a147
ColorBold=#13afaf
TabActivityColor=#ec5252
ColorForeground=#a6b5c5
ColorBackground=#2d653bbb391d
ColorPalette=rgb(20,26,31);rgb(236,82,82);rgb(93,167,19);rgb(201,112,22);rgb(56,144,233);rgb(163,89,237);rgb(19,175,175);rgb(107,133,158);rgb(26,33,40);rgb(255,145,145);rgb(154,205,104);rgb(237,165,93);rgb(125,190,255);rgb(203,150,255);rgb(110,207,207);rgb(166,181,197)
BackgroundMode=TERMINAL_BACKGROUND_IMAGE
BackgroundImageStyle=TERMINAL_BACKGROUND_STYLE_SCALED
BackgroundImageShading=0.510000

